FEISHU_APP_ID=cli_your_app_id
FEISHU_APP_SECRET=your_app_secret
SCREENING_ACCESS_KEY=your_review_password
EDU_BASE_TOKEN=your_edu_base_token
EDU_TABLE_ID=your_edu_table_id
ARTISAN_SCREENING_ACCESS_KEY=optional_independent_review_password
ARTISAN_BASE_TOKEN=ZaWNbPjyoambOdsCSmtcfpQtnbf
ARTISAN_TABLE_ID=tblp1P1xwCySxO5H
